div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #32CD32;
   text-decoration: underline;
}
a:visited
{
   color: #008080;
}
a:active
{
   color: #00FF7F;
}
a:hover
{
   color: #FFDAB9;
   text-decoration: underline;
}
#Table1
{
   border-radius: 0px;
   border: 1px solid #FFFFFF;
   background-color: #000000;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 1px 1px 1px 1px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table1 .cell1
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 28px;
   color: #FFFFFF;
   font-family: arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: url('images/Darkwing Duck - The Last Action Duck.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 23px;
   height: 18px;
}
#Table1 .cell3
{
   background-color: #FF0000;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 57px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell4
{
   background-color: #32CD32;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 17px;
   height: 18px;
}
#Table1 .cell5
{
   background-color: #FFFFFF;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 17px;
   height: 18px;
}
#Table1 .cell6
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   height: 18px;
   color: #FFFFFF;
   font-family: "Segoe UI";
   font-size: 12px;
   line-height: 16px;
}
#Table2
{
   border-radius: 0px;
   border: 1px solid #FFFFFF;
   background-color: #000000;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 1px 1px 1px 1px;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 48px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table2 .cell1
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 48px;
   color: #FFFFFF;
   font-family: arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell2
{
   background-color: transparent;
   background-image: url('images/Darkwing Duck - The Last Action Duck.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 26px;
   height: 32px;
}
#Table2 .cell3
{
   background-color: #FF0000;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 62px;
   height: 32px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table2 .cell4
{
   background-color: #32CD32;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 22px;
   height: 32px;
}
#Table2 .cell5
{
   background-color: #FFFFFF;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 22px;
   height: 32px;
}
#Table2 .cell6
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   height: 32px;
   font-size: 0;
}
#Table3
{
   border-radius: 0px;
   border: 1px solid #FFFFFF;
   background-color: #000000;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table3 td, #Table3 th
{
   padding: 1px 1px 1px 1px;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 54px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table3 .cell1
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 54px;
   color: #FFFFFF;
   font-family: arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell2
{
   background-color: transparent;
   background-image: url('images/Darkwing Duck - The Last Action Duck.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 34px;
   height: 18px;
}
#Table3 .cell3
{
   background-color: #FF0000;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 92px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table3 .cell4
{
   background-color: #32CD32;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 28px;
   height: 18px;
}
#Table3 .cell5
{
   background-color: #FFFFFF;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 28px;
   height: 18px;
}
#Table3 .cell6
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   height: 18px;
   font-size: 0;
}
#Table4
{
   border-radius: 0px;
   border: 1px solid #FFFFFF;
   background-color: #000000;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table4 td, #Table4 th
{
   padding: 1px 1px 1px 1px;
}
#Table4 p, #Table4 ul
{
   margin: 0;
   padding: 0;
}
#Table4 .cell0
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 28px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#Table4 .cell1
{
   background-color: #4F4F4F;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   height: 28px;
   color: #FFFFFF;
   font-family: arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell2
{
   background-color: transparent;
   background-image: url('images/Darkwing Duck - The Last Action Duck.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 24px;
   height: 18px;
}
#Table4 .cell3
{
   background-color: #FF0000;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 58px;
   height: 18px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table4 .cell4
{
   background-color: #32CD32;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 18px;
   height: 18px;
}
#Table4 .cell5
{
   background-color: #FFFFFF;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 18px;
   height: 18px;
}
#Table4 .cell6
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   height: 18px;
   font-size: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Table1
{
   position: absolute;
   left: 1px;
   top: 14px;
   width: 907px;
   height: 56px;
   z-index: 6;
}
#Table3
{
   position: absolute;
   left: 198px;
   top: 235px;
   width: 530px;
   height: 82px;
   z-index: 8;
   visibility: hidden;
}
#Table2
{
   position: absolute;
   left: 1px;
   top: 138px;
   width: 322px;
   height: 90px;
   z-index: 7;
   visibility: hidden;
}
#Table4
{
   position: absolute;
   left: 1px;
   top: 148px;
   width: 908px;
   height: 56px;
   z-index: 9;
}
@media only screen and (min-width: 540px) and (max-width: 969px)
{
div#container
{
   width: 540px;
}
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#Table1
{
   left: 1px;
   top: 17px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #FFFFFF;
}
#Table2
{
   left: 1px;
   top: 138px;
   visibility: hidden;
   display: none;
}
#Table3
{
   left: 8px;
   top: 14px;
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #FFFFFF;
}
#Table4
{
   left: 1px;
   top: 17px;
   font-size: 8px;
   font-family: Arial;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #FFFFFF;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 539px)
{
div#container
{
   width: 340px;
}
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#Table1
{
   left: 12px;
   top: 12px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: Verdana;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #202020;
}
#Table2
{
   left: 9px;
   top: 11px;
   visibility: visible;
   display: table;
}
#Table3
{
   left: 12px;
   top: 12px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: Verdana;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #202020;
}
#Table4
{
   left: 12px;
   top: 12px;
   font-size: 13px;
   font-family: Verdana;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #202020;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
}
