body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #32CD32;
   text-decoration: underline;
}
a:visited
{
   color: #008080;
}
a:active
{
   color: #00FF7F;
}
a:hover
{
   color: #FFDAB9;
   text-decoration: underline;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   position: absolute;
   left: 216px;
   top: 1183px;
   width: 292px;
   height: 16px;
   z-index: 0;
}
@media only screen and (min-width: 940px) and (max-width: 969px)
{
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 216px;
   top: 1183px;
   width: 292px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 720px) and (max-width: 939px)
{
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 216px;
   top: 1183px;
   width: 292px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 540px) and (max-width: 719px)
{
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 216px;
   top: 1183px;
   width: 292px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 539px)
{
body
{
   background-color: #000000;
   background-image: url('images/City_Vertical.gif');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 24px;
   top: 1068px;
   width: 292px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
